:root {
  --primary-header-color: #4b270f;

  --main-bg-color: #f5ede7;
  --secondary-bg-color: #fcece3;

  --primary-text-color: #4e2306;
  --secondary-text-color: #341703;
  --tertiary-text-color: #fff;
  --profile-text-color: #36e6cb;
}
