:root {
  --primary-header-color: #185a2c;

  --main-bg-color: #eafdef;
  --secondary-bg-color: #c4e4ce;

  --primary-text-color: #185a2c;
  --secondary-text-color: #0c2d16;
  --tertiary-text-color: #fff;
  --profile-text-color: #36e6cb;
}
