/*-------  Font Styles   -----*/

/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */

/* Variables */
:root {
  --primary-header-color: #365669;

  --main-bg-color: #d3dee4;
  --secondary-bg-color: #eaecec;

  --primary-text-color: #365669;
  --secondary-text-color: #0f1a20;
  --tertiary-text-color: #fff;
  --profile-text-color: #36e6cb;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg-color);
}

body * {
  transition: 0.3s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p,
span {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 18px;
}

/* Sections Definitions */
.section-dark {
  background-color: var(--primary-header-color);
  color: var(--tertiary-text-color);
}

.section-light {
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
}

.section-header {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  margin-bottom: 2.3rem;
}

.section-contentHead {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}

/*---------- Header --------*/
#header {
  background-color: var(--primary-header-color);
  /* position: relative; */
  /* width: 100%; */
}

#header-bar {
  background-color: var(--primary-header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* Logo */
.logo {
  width: 7rem;
  height: 5rem;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
}

/* Navigation Bar */
.navigation {
  position: relative;
}

.nav-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  width: 40rem;
}

.nav-list {
  padding: 0;
}

.nav-link {
  color: var(--tertiary-text-color);
}

.nav-link:hover {
  color: var(--profile-text-color);
}

/* Hamburger Menu */
#hamburger {
  cursor: pointer;
  position: fixed;
  right: 2rem;
  display: none;
}

#hamburger div {
  background: var(--tertiary-text-color);
  width: 2rem;
  height: 0.3rem;
  margin-bottom: 0.35rem;
  transition: transform 0.2s ease-in;
}

.line1-resp {
  position: absolute;
  /*   top: 3rem; */
  transform: rotate(45deg);
}

.line2-resp {
  opacity: 0;
}

.line3-resp {
  position: absolute;
  bottom: 0.2px;
  transform: rotate(-45deg);
}

.responsive {
  display: flex;
  background: var(--primary-header-color);
  flex-direction: column;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 45vmin;
  z-index: 3;
}

.responsive-list {
  margin: 2rem 0 1rem;
}

/*------- Introduction Section -----*/

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-column right-column";
  padding: 16rem 0 7rem 0;
}

/* Left Column */
.left-column {
  grid-area: left-column;
  padding: 2rem 0 5rem;
}

.left-column img {
  display: block;
  margin: 0 auto;
  border: 5px solid var(--tertiary-text-color);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 2rem;
}

.theme-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.theme-option {
  height: 40px;
  width: 40px;
  border: 3px solid var(--secondary-bg-color);
  border-radius: 50%;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  margin: 5px;
}
.theme-option:hover {
  border-width: 5px;
}

#blue-mode {
  background-color: #365669;
}
#brown-mode {
  background-color: #4b270f;
}
#grey-mode {
  background-color: #333;
}
#green-mode {
  background-color: #185a2c;
}

.settings-note {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

/* Right Column */
.right-column {
  grid-area: right-column;
  padding: 10rem 0 5rem;
  border: 3px solid var(--profile-text-color);
}

.intro-description {
  text-align: center;
}

.intro-text {
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  margin-bottom: 3rem;
}

.profile-highlight {
  color: var(--profile-text-color);
}

.subintro-text {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
}

/*-------- About Section ---------*/

/* About */
.about-wrapper {
  text-align: center;
  padding: 8rem 0 4rem;
}

.about-content {
  margin-bottom: 2rem;
}

.about-contentBody {
  padding: 0 5%;
}

.about-contentParagraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

/* Skills */
.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0 0;
}

.skills-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  text-align: center;
  margin: 4rem 0 0 0;
  /* border: 5px solid sienna; */
}

.skill {
  display: inline-block;
  width: 200px;
  height: 200px;
  /* border: 5px solid crimson; */
}

.skill i {
  color: var(--primary-header-color);
  margin-bottom: 2rem;
}

.skill-tag {
  font-family: "Balsamiq Sans", cursive;
  font-size: 24px;
}

/*------------ Projects --------*/

.projects-wrapper {
  padding: 8rem 5% 4rem;
  text-align: center;
}

.project-details {
  padding-top: 2rem;
}

/* Each Project */
.project-each {
  display: grid;
  grid-template-areas: "left-column right-column";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

.project-leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: left-column;
  margin-bottom: 4rem;
}

.project-card {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.7);
  width: 400px;
}

.card-header img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 300px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.project-link {
  background-color: var(--primary-header-color);
  border-radius: 5px;
  color: var(--tertiary-text-color);
  cursor: pointer;
  padding: 3% 12%;
  margin: 0 3%;
  text-align: center;

  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.project-link:hover {
  opacity: 0.8;
}

.project-rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-area: right-column;
}

.project-title {
  font-size: 44px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.5rem;
}

.project-summary {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
}

.project-tags {
  padding: 2rem 1rem;
}

span.project-tag {
  color: var(--primary-header-color);
  background-color: var(--main-bg-color);
  display: inline-block;
  border-radius: 5px;
  border: -1px 1px 3px -1px rgba(0, 0, 0, 0.7);

  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 8px 15px;
  margin: 0.8rem;
}

/*------- Contact Section ---------*/

/* Contact Form */
.contact-wrapper {
  padding: 8rem 0 4rem;
  text-align: center;
}

.form-wrapper {
  margin-top: 4rem;
}

form {
  margin: 0 auto;
  font-family: "Balsamiq Sans", cursive;
}

form label,
form input,
form textarea {
  display: block;
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
}
form label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

form input,
form textarea {
  padding: 1rem;
  border-width: 1px;
}

form input:active {
  border-color: var(--primary-header-color);
}

form input[type="submit"] {
  width: 150px;
  font-family: "Balsamiq Sans", cursive;
  font-size: 18px;
  font-weight: 500;
  padding: 0.7rem;

  color: var(--tertiary-text-color);
  background-color: var(--primary-header-color);
  cursor: pointer;
  border: none;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  opacity: 0.8;
}

.form-row {
  margin-bottom: 1.3rem;
}

.contact-social {
  margin: 6rem 0 1rem 0;
}

/* Social Links */

.social-links {
  width: 80%;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 auto;
  /* border: 2px solid crimson; */
}

.social-link {
  margin: 0 2rem 2rem 0;
}

.social-link i {
  color: var(--primary-header-color);
  font-size: 5rem;
}

.social-link i:hover,
.social-link i:focus {
  opacity: 0.8;
}

/*---------- Footer -----------*/
footer {
  padding: 5rem 0 3rem;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.footer-note {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.copy {
  font-size: 16px;
  font-weight: 500;
}

/*------- Media Queries ----------*/

@media (max-width: 1200px) {
  .content-wrapper {
    width: 85%;
  }

  .project-card {
    width: 350px;
  }
  .project-leftColumn {
    padding-right: 1.3rem;
  }

  .project-rightColumn {
    padding-left: 3rem;
  }

  form label,
  form input,
  form textarea {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .navigation {
    display: none;
  }
  #hamburger {
    display: block;
  }
  .block {
    display: flex;
  }
  .responsive {
    right: -2rem;
    justify-content: space-around;
    transform: translateX(0%);
    height: 93vh;
  }

  .introduction {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left-column"
      "right-column";
    padding: 15rem 0 10rem 0;
  }

  .right-column {
    padding: 5rem 0.8rem;
    margin: 0 5%;
  }

  .intro-description {
    display: block;
    margin: 0 auto;
  }

  .skills-details {
    grid-template-columns: 1fr 1fr;
  }

  .project-each {
    grid-template-areas:
      "left-column"
      "right-column";
    grid-template-columns: 1fr;
  }

  .project-card {
    width: 350px;
  }

  .project-leftColumn {
    padding-right: 0;
  }

  .project-rightColumn {
    padding-left: 0;
  }
}

@media (max-width: 478px) {
  .section-header {
    font-size: 42px;
  }

  .section-contentHead {
    font-size: 18px;
  }
  .introduction {
    padding-top: 10rem;
  }

  .left-column img {
    width: 200px;
    height: 200px;
  }

  .right-column {
    padding: 5rem 0;
  }

  .intro-text {
    font-size: 64px;
    margin-bottom: 2rem;
  }

  .subintro-text {
    font-size: 24px;
  }

  .skills-details {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .skill {
    width: 145px;
    height: 145px;
  }

  .skill i {
    font-size: 50px;
  }

  .skill-tag {
    font-size: 16px;
  }

  .project-card {
    width: 90%;
  }

  .card-header img {
    height: 200px;
  }

  .card-body {
    padding: 2rem 0;
  }

  .project-link {
    font-size: 14px;
  }

  .project-title {
    font-size: 30px;
    line-height: 1;
  }

  .project-summary {
    font-size: 20px;
    margin-bottom: 0;
  }

  form label,
  form input,
  form textarea {
    width: 270px;
  }

  .social-link {
    margin: 0 1.3rem 2rem 0;
  }
  .social-link i {
    font-size: 3.2rem;
  }

  .footer-note {
    font-size: 17px;
  }

  .copy {
    font-size: 14px;
  }
}
